@mixin desktop {
    @media (min-width: 1024px) { @content };
}

@mixin desktopL {
    @media (min-width: 1440px) { @content };
}

@mixin desktopXL {
    @media (min-width: 1800px) {
        @content
    };
}

@mixin mobile {
    @media (max-width: 1023px) {
        @content;
    }
}

@mixin adaptive-font($mobSize, $pcSize) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;
    @media (max-width: 1023px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 375px) / 1023));
    }
    @media (min-width: 1023px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 1024px) / 1440));
    }
    @media (min-width: 1440px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 1440px) / 1800));
    }
}